{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class='flex w-full h-screen' style='background: rgba(46, 46, 46, 0.95)'>
        <div class='container mx-auto overflow-scroll'>
            <p class='text-white font-light'>Je veux m'afficher à côté de la navbar </p>
        </div>
    </div>
{% endblock %}
