{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <div class="flex flex-col w-full">
    {% include 'admin/navbar-admin.html.twig' %}
    <div id="panel">
      {% include 'admin/user/index.html.twig' %}
      {% include 'admin/association/index.html.twig' %}
      {% include 'admin/section/index.html.twig' %}
      {% include 'admin/forum/index.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('admin') }}
{% endblock %}