<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class='flex h-screen'>
			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')%}
				{% include "navbar.html.twig" %}
			{% endif %}
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{# {{ encore_entry_script_tags('jquery') }} #}
		{% endblock %}
	</body>
</html>
