{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div 
        id='root'
        data-name='{{ app.user.name }}'
        data-lastname='{{ app.user.lastname }}'
    ></div>
    <div id='test'></div>
{% endblock %}
