{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}

	<div class="w-full h-screen" style="background: grey">
		<div class="justify-self-center h-screen m-0 mx-32 border-0 overflow-y-scroll" style="background-color: #4A4747">
			<div class="h-3/6 w-full shadow-2xl flex-col">
				<div class="h-full">
					<img src='{{ asset('img/banner.png') }}' class='w-full rounded drop-shadow-md h-full bg-no-repeat bg-center cursor-pointer z-10'>
				</div>
				<div class="left-0 -top-64 relative mt-52 ml-11 w-44">
					<img src='{{ asset('img/sera.jpeg') }}' class="w-44 h-44 shadow-2xl rounded-full object-cover p-1 cursor-pointer relative z-99">
				</div>
			</div>
			<div class="flex flex-col content-between space-y-16 pt-6">
				<div class="flex w-full h-20 flex-row justify-end">
					<div class="w-5/6 flex justify-between">
						<div class="w-44 h-10 ml-12 flex flex-col justify-center items-start">
							<h2 class="flex justify-center items-center h-full text-white text-3xl">{{app.user.lastname}}
								{{app.user.name}}</h2>
							<p class="text-white">J'ai pas d'amis</p>
						</div>
						<div class="w-44 h-10 bg-white rounded-lg shadow-xl flex flex-end mr-3">
							<button class="flex justify-center items-center h-full w-full ">Edit Profile</button>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full h-full mt-10 flex flex-row justify-center">
				<div class="bg-gray-200 h-4/6 w-2/6 ml-3 mr-3 rounded-xl">
                    <h1>Intro</h1>

                
                </div>

				<div class="flex flex-col h-full w-full mr-3">
					<div class="bg-gray-200 h-52 w-6/6 rounded-xl mb-5"></div>

					<div class="bg-gray-200 h-52 w-6/6 rounded-xl"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
