{% block title %}Bienvenu sur ESGI association !{% endblock %}

{% block body %}
    <pre>Nom de compte: {{ name }}</pre>
    <pre><a href="{{ url_confirmation }}">Activer mon compte</a></pre>
{% endblock %}