{% block title %}ESGI association réinitialisation de mot de passe.{% endblock %}

{% block body %}
    <pre>{{ name }} le lien vers le changement de mot de passe :</pre>
    <pre><a href="{{ url_recover }}">Réinitialiser le mot de passe</a></pre>
{% endblock %}